
<form autocomplete="off" [formGroup]="forms" (ngSubmit)="saveInfoUser()" >
    <div class="col">
        <h1 class="h1 text-black text-center">Contact</h1>
        <b>Fields marked with 
            <small>
               <i class="fa fa-asterisk faColor" aria-hidden="true"></i>
            </small> 
        are required
        </b>

        <div class="form-group row mt-4 ">
            <label class="col-2 col-form-label">First Name <small><i class="fa fa-asterisk faColor" aria-hidden="true"></i></small></label>
            <div class="col">
                <input class="form-control"
                       type="text"
                       formControlName="nameUser"
                       [class.is-invalid]="nameField.invalid && nameField.touched"
                       [class.is-valid]="nameField.valid "
                >
                <small *ngIf="nameField.invalid && nameField.touched"
                       class="text-danger"><b>Please enter your name</b> 
                </small>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">Last Name <small><i class="fa fa-asterisk faColor" aria-hidden="true"></i></small></label>
            <div class="col">
                <input class="form-control"
                    type="text"
                    formControlName="lastNameUser"
                    [class.is-invalid]="lastNameField.invalid && lastNameField.touched"
                    [class.is-valid]="lastNameField.valid"
                >
                <small *ngIf="lastNameField.invalid && lastNameField.touched"
                       class="text-danger"><b>Please enter your last name</b>
                </small>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">Phone Number <small><i class="fa fa-asterisk faColor" aria-hidden="true"></i></small></label>
            <div class="col">
                <input class="form-control"
                       type="number"
                       formControlName="phoneNumberUser"
                       [class.is-invalid]="phoneField.invalid && phoneField.touched"
                       [class.is-valid]="phoneField.valid"
                >
                <small *ngIf="phoneField.invalid && phoneField.touched" 
                       class="text-danger"><b>Please enter your phone number (10 digits)</b>
                </small>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">Email <small><i class="fa fa-asterisk faColor" aria-hidden="true"></i></small></label>
            <div class="col">
                <input class="form-control"
                       type="email"
                       formControlName="emailUser"
                       [class.is-invalid]="emailField.invalid && emailField.touched"
                       [class.is-valid]="emailField.valid "
                >
                <small *ngIf="emailField.invalid && emailField.touched"
                       class="text-danger"><b>Please provide a valid email</b>
                </small>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">Postal Code </label>
            <div class="col">
                <input class="form-control"
                       type="number"
                       formControlName="postalCodeUser"
                >
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">Direction</label>
            <div class="col">
                <input class="form-control"
                       type="text"
                       formControlName="directionUser"
                       
                >
                
            </div>
        </div>
        
        <div class="d-grid gap-2 col-6 mx-auto mt-5">
            <button  type="submit" class="btn btn-outline-primary btn-lg btn-block text-center">Submit</button>
        </div>
    </div>
</form>
